body
{
    background-color: #a4a4a4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;

}
.main-form
{
    background-color: #ffffff;
    width: 50%;
    padding: 20px;
    
}
.form-items
{
    background-color: #59df6b; 
    padding: 10px;
    text-align: center;
}
.button-retrieve
{
    border: 2px solid #4b4b4b;
    font-size: 14pt;
    background-color: #a2e5ab;
 

}
.big-words
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}
.header
{
    text-align: left;
    font-size: 20pt;
}
.checkbox
{
    width: 20px;
    height: 20px;
}
/*
.validators {
    position: fixed;
    opacity: 0.5;
    bottom: 0;
    right: 0;
*/