.wholebody {
    background-image: url('img/background.png');
}

#bannerback {
    /*background-position: center;*/
    /**/
    background-image: url('img/bannerbg.png');
    background-repeat: repeat-x;
    z-index: 0;
    height: 50px;
}

.topcontainer {
    z-index: 1;
    text-align: center;
    height: 50px;
}

.pagetext {
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}

.mainheader {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

#mainbody {
    border-style:solid;
    border-color: gray;
    border-width: 4px;
    border-radius: 20px;
    margin: auto;
    width: 800px;
}

/* Background of left section */
#leftbannerback {
    width: 550px;
    /*background-image: url('img/rbg.png');*/
    background-repeat: repeat-x;
    z-index: 0;
}

#thirtythree {
    font-size: 48pt;
    color: red;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
}

.lefttopcontainer, #thirtythree {
    display: inline-block;
    z-index: 1;
}

.reviewcontainer {

}

.topim {
    border-top-left-radius: 20px;
}