.wholebody {
    background-image: url('img/background.png');
}

#bannerimage {
    /*background-position: center;*/
    background-repeat: repeat-x;
  }

.pagetext {
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}