.wholebody {
    background-image: url('img/background.png');
}

#bannerback {
    /*background-position: center;*/
    /**/
    background-image: url('img/bannerbg.png');
    background-repeat: repeat-x;
    z-index: 0;
}

.topcontainer {
    z-index: 1;
    text-align: center;
}

.pagetext {
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}