.otherheading {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    text-decoration: underline;
}

.mainheading {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.piebody {
    background-color: white;
}

.bodytext {
    color: #404040;
    font-size: 11pt;
    font-family: "Georgia", "Garamond", serif;
}

a:any-link {
    color: #A4A400;
    font-size: 11pt;
    font-family: "Georgia", "Garamond", serif;
}

.usercomment {
    font-style: italic;
    color: #404040;
    font-size: 11pt;
    font-family: "Georgia", "Garamond", serif;
    background-color: #FFFFA8;
    margin: 50px;
}

.copyright {
    margin-left: 0px;
    text-align: right;
    line-height: 7px;
}

.hline, .cline {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}