/* HOMEPAGE STYLE */
/* Profile image container */
div {
  text-align: center;
}

/* The image itself: give it space from header & make it circular */
.imtip {
  margin-top:20px;
  border-radius: 50%;
}

.banner {
  width: 100%;
}

/* Make the whole body black */
.mybody {
  background: black;
}

/* All core content will be purple */
.purplecontent {
  color: purple;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* All headers will be this nice blue */
.blueheaders {
  color:#002bc6;
  text-align: center;
  font-size: 35pt;
  font-family:cursive;
  font-weight: bolder;
}

/* Give the footer link some space from the last page element */
.footerlink {
  margin-top: 40px;
  right:0px;
  bottom:0px;
  position: fixed;
  opacity: 5%;
}

/* ABOUT ME STYLE */
/* Headers variation */
.redheaders {
  color: rgb(78, 0, 129);
  font-weight: bold;
}

/* Non-bold words in description */
span {
  font-weight: normal;
}

/* Portrait floats to the right of text */
.floatingrightimg {
  height: 333px;
  float: right;
  margin-right: 15px;
}

/* Fig config */
.leftfig, .rightfig {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 8px;
}

a {
  color:purple;
  text-decoration: none;
}

li::marker {
  content: "\2605";
  margin: 0 2px;
}

.assn_div {
  margin:auto;
  border-color:darkorange;
  border-width: 4px;
  border-style:dashed;
  width: 600px;
  text-align: left;
  padding-left: 20px;
}