/* HOMEPAGE STYLE */
/* Profile image container */
div {
  text-align: center;
}

/* The image itself: give it space from header & make it circular */
.imtip {
  margin-top:20px;
  border-radius: 50%;
}

/* Make the whole body black */
.mybody {
  background: black;
}

/* All core content will be purple */
.purplecontent {
  color: purple;
  font-weight: bold;
}

/* All headers will be this nice blue */
.blueheaders {
  color:#002bc6;
}

/* Give the footer link some space from the last page element */
.footerlink {
  margin-top: 40px;
}



/* ABOUT ME STYLE */
/* Headers variation */
.redheaders {
  color: rgb(78, 0, 129);
  font-weight: bold;
}

/* Non-bold words in description */
span {
  font-weight: normal;
}

/* Portrait floats to the right of text */
.floatingrightimg {
  height: 310px;
  float: right;
  margin-right: 15px;
}

/* Fig config */
.leftfig, .rightfig {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}